.principalTwo {
  position: absolute;
  top: 100vh;
  height: 100vh;
  width: 100%;
  /*background: rgb(40, 40, 40);/**/
  background: rgb(248, 211, 118); /**/
  background: rgb(40, 40, 40);
}

/*-------------------------- cart --------------------------*/
.map-cart {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  top: 50px;
  left: 130px;
  border: 1px solid;
  width: 80%;
}
.cart-product {
  position: relative;
  margin: 18px;
  height: 290px;
  /*border-right: 1px solid rgba(255, 255, 255, 0.708);*/
  background: rgb(169, 169, 169);
  color: white;
  box-shadow: 10px 10px 15px black;
  border-radius: 10px;
  width: 350px;
  padding: 10px;
  box-sizing: border-box;
  transition: 0.5s;
}
.icon-later {
  font-size: 21px;
  cursor: pointer;
  transition: 0.1s;
}
.icon-love {
  color: rgb(255, 0, 72);
  font-size: 23px;
  cursor: pointer;
  transition: 0.1s;
}
.sec-icons {
  position: absolute;
  width: 100px;
  bottom: 0px;
  right: 30px;
  display: flex;
  justify-content: space-around;
  width: 70px;
  height: 50px;
  background: transparent;
}

.sec-later {
  width: 35px;
  background: transparent;
  border: none;
}
.add-products-cart {
  background: rgb(91, 203, 254);
  border: none;
  font-size: 18px;
  padding: 8px;
}
.log-add-products-cart {
  background: rgb(255, 161, 30);
  border: none;
  font-size: 18px;
  padding: 8px;
}

/*-------------------- hover ------------------------*/
.cart-product:hover {
  background: rgb(133, 133, 133);
  color: black;
}
.icon-later:hover {
  font-size: 23px;
}
.icon-love:hover {
  font-size: 25px;
}
/*-------------------- init-sale ------------------------*/
.create-sale {
  position: absolute;
  background: linear-gradient(rgb(106, 218, 195), #161616dd);
  top: 100px;
  left: 65%;
  width: 400px;
  height: 80vh;
  border-radius: 10px;
  transition: 0.5s;
}
.title {
  margin: 20px;
  height: 70px;
  width: 85%;
  border-radius: 8px;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.703);
  background: rgba(0, 0, 0, 0.349);
  font-family: Georgia, "Times New Roman", Times, serif;
  transition: 0.7s;
}
.box-sell {
  height: 400px;
  width: 85%;
}
.intro-small {
  width: 80%;
  height: 120px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
}
.intro-GIF {
  width: 100%;
  height: 180px;
  padding: 15px;
  box-sizing: border-box;
  box-shadow: 0px 0px 15px;
  background: rgba(255, 217, 0, 0.116);
  background: linear-gradient(rgba(5, 167, 135, 0.473), #161616dd);
}
.create-product {
  margin: 20px;
  height: 50px;
  border: 1px solid rgba(141, 141, 141, 0.358);
  width: 85%;
  border-radius: 8px;
  font-size: 24px;
  font-family: Georgia, "Times New Roman", Times, serif;
  transition: 0.3s;
  color: rgba(240, 235, 235, 0.71);
  background: rgba(0, 0, 0, 0.591);
  text-decoration: none;
}
.icon-cloud {
  animation: gif-cloud 3s infinite;
}
.icon-file {
  animation: gif-file 3s infinite;
  border: 1px solid rgba(20, 20, 20, 0.445);
  border-radius: 5px;
  box-shadow: 5px 5px 5px;
  background: rgba(5, 219, 91, 0.42);
}

/*-------------------- hover ------------------------*/
.create-sale:hover {
  box-shadow: 0px 0px 20px 10px;
}
.title:hover {
  background: rgba(128, 128, 128, 0.384);
}
.create-product:hover {
  cursor: pointer;
  background: transparent;
}

/*-------------------- name product ------------------------*/
.name-product {
  position: relative;
  left: 180px;
  top: 100px;
  color: white;
  width: 600px;
  height: 600px;
}
.form-product {
  background: rgba(251, 130, 245, 0.715);
  height: 600px;
  display: flex;
  flex-direction: column;
}
.label-product {
  display: flex;
  flex-direction: column;
  font-size: 18px;
}
.input-product {
  width: 320px;
  height: 25px;
  font-size: 18px;
  border: none;
  outline: none;
  background: transparent;
}
.select-product {
  width: 200px;
  height: 25px;
  font-size: 17px;
  background: transparent;
  outline: none;
  border-radius: 5px;
  border: 1px solid;
}
.price {
  width: 200px;
  height: 25px;
  font-size: 17px;
  background: transparent;
  display: flex;
  flex-direction: column;
}
.quantity {
  display: flex;
  flex-direction: column;
  font-size: 17px;
  width: 150px;
}
.description-product {
  width: 400px;
  height: 50px;
  display: flex;
  flex-direction: column;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
  resize: none;
}
.b-desactive {
  border-bottom: 2px solid;
}
.input-product-active {
  border-bottom: 2px solid rgb(196, 29, 0);
  color: rgb(196, 29, 0);
}
.submit-product {
  width: 100px;
}
/*-------------------- profile ------------------------*/
.principal-profile {
  background: rgb(40, 40, 40);
  width: 100%;
  height: 100vh;
}
/*-------------------- general ------------------------*/
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.center-h {
  display: flex;
  align-items: center;
}
.center-w {
  display: flex;
  justify-content: center;
}
.column {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
}
/*-------------------- keyframes ------------------------*/
@keyframes gif-cloud {
  0% {
    /*transform: translate(0px, 0px);
    /*transform: scale(0.7);*/
    font-size: 30px;
  }
  50% {
    font-size: 35px;
  }
  100% {
    font-size: 30px;
  }
}
@keyframes gif-file {
  from {
    transform: translate(0px, 140px);
    font-size: 45px;
  }
  to {
    transform: translate(0px, 0px);
    font-size: 0px;
  }
}
